/chortl/node_modules
/chortl/lib-cov
/chortl/*.seed
/chortl/*.log
/chortl/*.csv
/chortl/*.dat
/chortl/*.out
/chortl/*.pid
/chortl/*.gz
/chortl/ 
/chortl/pids
/chortl/logs
/chortl/results 
/chortl/node_modules
/chortl/npm-debug.log