<!DOCTYPE html>


<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'BenchNine', san-serif;
        font-size: 20px;
        margin-left:10px;
      }
      input, option, select {
        margin-left:40px;
      }
      footer {
        margin-left:260px;
      }
      h1 {
        font-family: 'Josefin Sans', serif;
        font-size: 24px;
      }
    </style>
</head>


  <body>
    <h1>Household member emails</h1>
      <input type="text" name="member1"><br>
      <input type="text" name="member2"><br>
      <input type="text" name="member3"><br>
      <input type="text" name="member4"><br>
      <input type="text" name="member5"><br>
    
    <h1>Chores</h1>
      <input type="text" name="chore1"><br>
      <input type="text" name="chore2"><br>
      <input type="text" name="chore3"><br>
      <input type="text" name="chore4"><br>
      <input type="text" name="chore5"><br>
    
    <h1>Frequency</h1>
      <div style="margin-left:40px;">Rotate chores every <input type="text" name="frequency"> days<br> </div>
    
    <h1>Email on</h1> 
      <select name="cars">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday" selected>Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select><br> 
    
      <footer>
        <a href="file:///Users/leslieann/_CODING/code/rubyChortl/app/views/index.html"><button>Back</button></a>
        <a href="file:///Users/leslieann/_CODING/code/rubyChortl/app/views/email.html"><button>Done!</button></a>
      </footer>
  </body>

</html>