<!DOCTYPE html>


<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'BenchNine', san-serif;
        font-size: 20px;
        margin-left:10px;
      }
      input, option, select, div {
        margin-left:40px;
      }
      footer {
        margin-left:260px;
      }
      h1 {
        font-family: 'Josefin Sans', serif;
        font-size: 24px;
      }
      h2 {
        font-family: 'Josefin Sans', serif;
        font-size: 20px;
        margin-left:40px;
      }
    </style>
</head>


  <body>
    <h1>To:</h1>
      <div>Member# email</div><br>
    
    <h1>Subject:</h1>
      <div>Chortl -- Week of ::the date:: -- ::your chore::</div><br>
    
    <h1>Body:</h1>
      <h2><a href="./rating.html">Rate cleanliness</a></h2><br>
      <h2>Your chore this week: ::your chore::</h2><br>
      <h2>ChoreScore Board</h2><br>
        <table style="width:100%; margin-left:100px">
        <tr>
          <td>Ranking</td>
          <td>Name</td> 
          <td>Score</td>
        </tr>
        <tr>
          <td>1</td>
          <td></td> 
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td></td> 
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td></td> 
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td></td> 
          <td></td>
        </tr>
        <tr>
          <td>5</td>
          <td></td> 
          <td></td>
        </tr>
      </table>
  </body>

</html>